.red {
  color: red;
}

.green {
  color: green;
}

.currency-selector {
  display: inline-block;
}

.currency-option {
  float: right;
  padding-left: 5px;
}

.rates-list {
  padding-top: 10px;
}

#root {
  border: 1px solid black;
  background-color: black;
}

div {
  color: white;
  width: 480px;
}

.currency-option {
  width: 50px;
}
